@import "tailwindcss";

@theme{
    --font-Clicker:"Clicker Script", sans-serif;
    --font-Playfair:"Playfair Display", sans-serif;
}
li{
    list-style: none;
}
a {
  @apply no-underline;
}
#root{
  overflow: hidden;
}